In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("restaurants.csv")
df.columns

Index(['Unnamed: 0', 'url', 'address', 'name', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)'],
      dtype='object')

In [3]:
df.head()

,Unnamed: 0,url,address,name,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people)
0,9090,https://www.zomato.com/bangalore/hum-biryani-b...,"117, 31st Main, 2nd Stage, BTM, Bangalore",Hum Biryani,No,3.4/5,17,+91 8546822221,BTM,Delivery,NaN,"Biryani, North Indian",600
1,20492,https://www.zomato.com/bangalore/smoke-oil-sal...,"14, Patel Medicals, 7th Main, BTM 2nd Stage, B...",Smoke Oil Salt,No,NEW,0,+91 7337830757,BTM,Quick Bites,NaN,Arabian,850
2,10449,https://www.zomato.com/bangalore/new-surya-swe...,"14, Maruthi Nagar Main Road, Madiwala, 1st Sta...",New Surya Sweets & Snacks,No,3.5/5,7,+91 9686083314,BTM,Sweet Shop,NaN,"Mithai, Fast Food",300
3,10590,https://www.zomato.com/bangalore/b2d-indori-dh...,"No.46, 11th Main Road, KEB Colony, 1st Stage, ...",B2D Indori Dhaba,No,NaN,0,+91 9691652001,BTM,Quick Bites,NaN,North Indian,100
4,10824,https://www.zomato.com/bangalore/ice-n-spice-b...,"Shop 20, NS Palya, 2nd Stage, BTM, Bangalore",Ice N Spice,No,NEW,0,+91 7406869966,BTM,Quick Bites,NaN,"Ice Cream, Beverages, Fast Food",300

In [4]:
df['cuisines'][0].split(",")

['Biryani', ' North Indian']

In [5]:
unique_cuisines = pd.Series(df['cuisines'].str.split(',').explode().str.strip().unique()).tolist()
len(unique_cuisines)

108

In [6]:
rest_type = pd.Series(df['rest_type'].str.split(',').explode().str.strip().unique()).tolist()
rest_type

['Delivery',
 'Quick Bites',
 'Sweet Shop',
 'Casual Dining',
 'Bakery',
 'Cafe',
 'Takeaway',
 'Bar',
 'Food Court',
 'Dessert Parlor',
 'Beverage Shop',
 'Microbrewery',
 nan,
 'Mess',
 'Pub',
 'Dhaba',
 'Kiosk',
 'Confectionery',
 'Lounge',
 'Club',
 'Fine Dining',
 'Food Truck',
 'Bhojanalya',
 'Meat Shop',
 'Irani Cafee',
 'Pop Up']

In [7]:
df['location'].unique()

array(['BTM', 'Banashankari', 'Banaswadi', 'Bannerghatta Road',
       'Basavanagudi', 'Basaveshwara Nagar', 'Bellandur', 'Bommanahalli',
       'Brigade Road', 'Brookefield', 'CV Raman Nagar',
       'Central Bangalore', 'Church Street', 'City Market',
       'Commercial Street', 'Cunningham Road', 'Domlur', 'East Bangalore',
       'Ejipura', 'Electronic City', 'Frazer Town', 'HBR Layout', 'HSR',
       'Hebbal', 'Hennur', 'Hosur Road', 'ITPL Main Road, Whitefield',
       'Indiranagar', 'Infantry Road', 'JP Nagar', 'Jakkur', 'Jalahalli',
       'Jayanagar', 'Jeevan Bhima Nagar', 'KR Puram', 'Kaggadasapura',
       'Kalyan Nagar', 'Kammanahalli', 'Kanakapura Road', 'Kengeri',
       'Koramangala', 'Koramangala 1st Block', 'Koramangala 2nd Block',
       'Koramangala 3rd Block', 'Koramangala 4th Block',
       'Koramangala 5th Block', 'Koramangala 6th Block',
       'Koramangala 7th Block', 'Koramangala 8th Block',
       'Kumaraswamy Layout', 'Langford Town', 'Lavelle Road', 'MG Road',
       'Magadi Road', 'Majestic', 'Malleshwaram', 'Marathahalli',
       'Mysore Road', 'Nagarbhavi', 'Nagawara', 'New BEL Road',
       'North Bangalore', 'Old Airport Road', 'Old Madras Road', 'Peenya',
       'RT Nagar', 'Race Course Road', 'Rajajinagar',
       'Rajarajeshwari Nagar', 'Rammurthy Nagar', 'Residency Road',
       'Richmond Road', 'Sadashiv Nagar', 'Sahakara Nagar',
       'Sanjay Nagar', 'Sankey Road', 'Sarjapur Road', 'Seshadripuram',
       'Shanti Nagar', 'Shivajinagar', 'South Bangalore',
       'St. Marks Road', 'Thippasandra', 'Ulsoor', 'Uttarahalli',
       'Varthur Main Road, Whitefield', 'Vasanth Nagar', 'Vijay Nagar',
       'West Bangalore', 'Whitefield', 'Wilson Garden', 'Yelahanka',
       'Yeshwantpur'], dtype=object)

In [8]:
type(pd.Series(df['cuisines'].str.split(',').explode().str.strip().unique()).tolist())

list

In [9]:
import requests

url = "http://127.0.0.1:5000/get_filters"
headers = {
    "accept": "application/json"
}

response = requests.get(url, headers=headers, verify=False)

# Print the response
print(response.status_code)
print(response)  # If the response is JSON

200
<Response [200]>

In [10]:
a = '1000'
print(float(a))

1000.0

In [11]:
df['rate'].unique()

array(['3.4/5', 'NEW', '3.5/5', nan, '3.9 /5', '4.1 /5', '3.4 /5',
       '3.7 /5', '2.7/5', '3.1 /5', '3.1/5', '3.7/5', '3.6 /5', '4.0/5',
       '2.9/5', '3.8 /5', '3.2/5', '3.0 /5', '3.0/5', '4.0 /5', '3.3 /5',
       '3.2 /5', '3.9/5', '3.3/5', '3.5 /5', '3.8/5', '2.4/5', '3.6/5',
       '4.5 /5', '4.1/5', '2.9 /5', '4.2/5', '2.6 /5', '2.8 /5', '4.2 /5',
       '4.9 /5', '4.5/5', '-', '2.5 /5', '2.6/5', '2.7 /5', '4.3 /5',
       '2.8/5', '4.4/5', '4.3/5', '4.9/5', '4.4 /5', '4.6/5', '2.5/5',
       '4.7/5', '2.3/5', '2.3 /5', '2.2/5', '4.8/5', '4.6 /5', '2.1/5',
       '2.1 /5', '2.0/5', '2.0 /5', '2.4 /5', '1.8/5', '1.8 /5', '4.7 /5',
       '4.8 /5', '2.2 /5'], dtype=object)

In [12]:
import pandas as pd
restaurant_data = pd.read_csv('restaurants.csv')
restaurant_data.fillna("",inplace=True)
def clean_rate(value):
    if value is None or pd.isna(value):  # Check for None or NaN
        return ""
    if isinstance(value, str):
        value = value.strip()  # Remove extra spaces
        if '/' in value:  # Check if it has the '/5' format
            return float(value.split('/')[0])
        elif value in ['NEW', '-']:  # Handle special cases
            return ""
    return ""
print(restaurant_data['rate'])
restaurant_data['rate'] = restaurant_data['rate'].apply(clean_rate)
restaurant_data['rate']

0         3.4/5
1           NEW
2         3.5/5
3
4           NEW
          ...
37234    2.9 /5
37235
37236    3.7 /5
37237    3.5 /5
37238    3.9 /5
Name: rate, Length: 37239, dtype: object

0        3.4
1
2        3.5
3
4
        ...
37234    2.9
37235
37236    3.7
37237    3.5
37238    3.9
Name: rate, Length: 37239, dtype: object

In [13]:
import sqlite3

# Connect to the database file
connection = sqlite3.connect('instance/syncanddine.db')

# Create a cursor object
cursor = connection.cursor()

# Query to fetch all rows from the 'user' table
cursor.execute("SELECT swipes FROM user where id=2;")

# Fetch column names
column_names = [description[0] for description in cursor.description]

# Fetch all rows
rows = cursor.fetchall()

# Print column names
print("Column Names: ", column_names)
# Print rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

Column Names:  ['swipes']
(b'\x80\x05\x95\x85\x00\x00\x00\x00\x00\x00\x00\x8c\x16sqlalchemy.ext.mutable\x94\x8c\x0bMutableDict\x94\x93\x94)\x81\x94(\x8c\x010\x94\x8c\x04like\x94\x8c\x011\x94\x8c\x04like\x94\x8c\x012\x94\x8c\x07dislike\x94\x8c\x013\x94\x8c\x04like\x94\x8c\x014\x94\x8c\x07dislike\x94u}\x94(h\x04h\x05h\x06h\x07h\x08h\th\nh\x0bh\x0ch\rub.',)

In [14]:
import pickle
data1 = pickle.loads(b'\x80\x05\x95\x94\x00\x00\x00\x00\x00\x00\x00\x8c\x16sqlalchemy.ext.mutable\x94\x8c\x0bMutableDict\x94\x93\x94)\x81\x94(\x8c\x010\x94\x8c\x04like\x94\x8c\x011\x94\x8c\x07dislike\x94\x8c\x012\x94\x8c\x04like\x94\x8c\x013\x94\x8c\x07dislike\x94\x8c\x014\x94\x8c\x04like\x94\x8c\x015\x94\x8c\x04like\x94u}\x94(h\x04h\x05h\x06h\x07h\x08h\th\nh\x0bh\x0ch\rh\x0eh\x0fub.',)

print(data1)

{'0': 'like', '1': 'dislike', '2': 'like', '3': 'dislike', '4': 'like', '5': 'like'}

In [15]:
import pickle
data2 = pickle.loads(b'\x80\x05\x95\x85\x00\x00\x00\x00\x00\x00\x00\x8c\x16sqlalchemy.ext.mutable\x94\x8c\x0bMutableDict\x94\x93\x94)\x81\x94(\x8c\x010\x94\x8c\x04like\x94\x8c\x011\x94\x8c\x04like\x94\x8c\x012\x94\x8c\x07dislike\x94\x8c\x013\x94\x8c\x04like\x94\x8c\x014\x94\x8c\x07dislike\x94u}\x94(h\x04h\x05h\x06h\x07h\x08h\th\nh\x0bh\x0ch\rub.',)


print(data2)

{'0': 'like', '1': 'like', '2': 'dislike', '3': 'like', '4': 'dislike'}

In [6]:
import sqlite3
connection = sqlite3.connect('syncanddine.db')
cursor = connection.cursor()
cursor.execute('''
SELECT TABLE_NAME 
FROM .TABLES 
WHERE TABLE_TYPE = 'BASE TABLE' 
ORDER BY TABLE_NAME ASC
''')
column_names = [description[0] for description in cursor.description]
rows = cursor.fetchall()
print("Column Names: ", column_names)
for row in rows:
    print(row)
cursor.close()
connection.close()

OperationalError: no such table: INFORMATION_SCHEMA.TABLES

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv("restaurants.csv")
df.head()

,Unnamed: 0,url,address,name,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people)
0,9090,https://www.zomato.com/bangalore/hum-biryani-b...,"117, 31st Main, 2nd Stage, BTM, Bangalore",Hum Biryani,No,3.4/5,17,+91 8546822221,BTM,Delivery,NaN,"Biryani, North Indian",600
1,20492,https://www.zomato.com/bangalore/smoke-oil-sal...,"14, Patel Medicals, 7th Main, BTM 2nd Stage, B...",Smoke Oil Salt,No,NEW,0,+91 7337830757,BTM,Quick Bites,NaN,Arabian,850
2,10449,https://www.zomato.com/bangalore/new-surya-swe...,"14, Maruthi Nagar Main Road, Madiwala, 1st Sta...",New Surya Sweets & Snacks,No,3.5/5,7,+91 9686083314,BTM,Sweet Shop,NaN,"Mithai, Fast Food",300
3,10590,https://www.zomato.com/bangalore/b2d-indori-dh...,"No.46, 11th Main Road, KEB Colony, 1st Stage, ...",B2D Indori Dhaba,No,NaN,0,+91 9691652001,BTM,Quick Bites,NaN,North Indian,100
4,10824,https://www.zomato.com/bangalore/ice-n-spice-b...,"Shop 20, NS Palya, 2nd Stage, BTM, Bangalore",Ice N Spice,No,NEW,0,+91 7406869966,BTM,Quick Bites,NaN,"Ice Cream, Beverages, Fast Food",300

In [12]:
df['url'][df['name']=='Hum Biryani']

0    https://www.zomato.com/bangalore/hum-biryani-b...
Name: url, dtype: object

In [19]:
list(df.columns)

['Unnamed: 0',
 'url',
 'address',
 'name',
 'book_table',
 'rate',
 'votes',
 'phone',
 'location',
 'rest_type',
 'dish_liked',
 'cuisines',
 'approx_cost(for two people)']

In [20]:
df['location'].value_counts()

location
Whitefield              1000
BTM                     1000
Sarjapur Road           1000
Indiranagar             1000
Electronic City         1000
                        ...
West Bangalore             6
Yelahanka                  6
Jakkur                     3
Rajarajeshwari Nagar       2
Peenya                     1
Name: count, Length: 93, dtype: int64

In [21]:
# desired_size = 1000
# def balance_categories(df, column, desired_size):
#     balanced_df = pd.DataFrame()
#     for category, group in df.groupby(column):
#         if len(group) > desired_size:
#             balanced_group = group.sample(desired_size, random_state=42)
#         else:
#             balanced_group = group
#         balanced_df = pd.concat([balanced_df, balanced_group], axis=0)
#     return balanced_df
# df = balance_categories(df, 'location', desired_size)
# print(df['location'].value_counts())

In [22]:
# df = df.drop(['reviews_list','menu_item','listed_in(type)','listed_in(city)','online_order'],axis=1)

In [23]:
# df.to_csv("restaurants.csv")

In [25]:
df.head()

,Unnamed: 0,url,address,name,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people)
0,9090,https://www.zomato.com/bangalore/hum-biryani-b...,"117, 31st Main, 2nd Stage, BTM, Bangalore",Hum Biryani,No,3.4/5,17,+91 8546822221,BTM,Delivery,NaN,"Biryani, North Indian",600
1,20492,https://www.zomato.com/bangalore/smoke-oil-sal...,"14, Patel Medicals, 7th Main, BTM 2nd Stage, B...",Smoke Oil Salt,No,NEW,0,+91 7337830757,BTM,Quick Bites,NaN,Arabian,850
2,10449,https://www.zomato.com/bangalore/new-surya-swe...,"14, Maruthi Nagar Main Road, Madiwala, 1st Sta...",New Surya Sweets & Snacks,No,3.5/5,7,+91 9686083314,BTM,Sweet Shop,NaN,"Mithai, Fast Food",300
3,10590,https://www.zomato.com/bangalore/b2d-indori-dh...,"No.46, 11th Main Road, KEB Colony, 1st Stage, ...",B2D Indori Dhaba,No,NaN,0,+91 9691652001,BTM,Quick Bites,NaN,North Indian,100
4,10824,https://www.zomato.com/bangalore/ice-n-spice-b...,"Shop 20, NS Palya, 2nd Stage, BTM, Bangalore",Ice N Spice,No,NEW,0,+91 7406869966,BTM,Quick Bites,NaN,"Ice Cream, Beverages, Fast Food",300