In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("restaurants.csv")
df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

In [3]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [4]:
df['cuisines'][0].split(",")

['North Indian', ' Mughlai', ' Chinese']

In [5]:
unique_cuisines = pd.Series(df['cuisines'].str.split(',').explode().str.strip().unique()).tolist()
len(unique_cuisines)

108

In [6]:
rest_type = pd.Series(df['rest_type'].str.split(',').explode().str.strip().unique()).tolist()
rest_type

['Casual Dining',
 'Cafe',
 'Quick Bites',
 'Delivery',
 'Mess',
 'Dessert Parlor',
 'Bakery',
 'Pub',
 'Takeaway',
 'Fine Dining',
 'Beverage Shop',
 'Sweet Shop',
 'Bar',
 'Confectionery',
 'Kiosk',
 'Food Truck',
 'Microbrewery',
 'Lounge',
 'Food Court',
 nan,
 'Dhaba',
 'Club',
 'Irani Cafee',
 'Bhojanalya',
 'Pop Up',
 'Meat Shop']

In [7]:
df['location'].unique()

array(['Banashankari', 'Basavanagudi', 'Mysore Road', 'Jayanagar',
       'Kumaraswamy Layout', 'Rajarajeshwari Nagar', 'Vijay Nagar',
       'Uttarahalli', 'JP Nagar', 'South Bangalore', 'City Market',
       'Nagarbhavi', 'Bannerghatta Road', 'BTM', 'Kanakapura Road',
       'Bommanahalli', nan, 'CV Raman Nagar', 'Electronic City', 'HSR',
       'Marathahalli', 'Sarjapur Road', 'Wilson Garden', 'Shanti Nagar',
       'Koramangala 5th Block', 'Koramangala 8th Block', 'Richmond Road',
       'Koramangala 7th Block', 'Jalahalli', 'Koramangala 4th Block',
       'Bellandur', 'Whitefield', 'East Bangalore', 'Old Airport Road',
       'Indiranagar', 'Koramangala 1st Block', 'Frazer Town', 'RT Nagar',
       'MG Road', 'Brigade Road', 'Lavelle Road', 'Church Street',
       'Ulsoor', 'Residency Road', 'Shivajinagar', 'Infantry Road',
       'St. Marks Road', 'Cunningham Road', 'Race Course Road',
       'Commercial Street', 'Vasanth Nagar', 'HBR Layout', 'Domlur',
       'Ejipura', 'Jeevan Bhima Nagar', 'Old Madras Road', 'Malleshwaram',
       'Seshadripuram', 'Kammanahalli', 'Koramangala 6th Block',
       'Majestic', 'Langford Town', 'Central Bangalore', 'Sanjay Nagar',
       'Brookefield', 'ITPL Main Road, Whitefield',
       'Varthur Main Road, Whitefield', 'KR Puram',
       'Koramangala 2nd Block', 'Koramangala 3rd Block', 'Koramangala',
       'Hosur Road', 'Rajajinagar', 'Banaswadi', 'North Bangalore',
       'Nagawara', 'Hennur', 'Kalyan Nagar', 'New BEL Road', 'Jakkur',
       'Rammurthy Nagar', 'Thippasandra', 'Kaggadasapura', 'Hebbal',
       'Kengeri', 'Sankey Road', 'Sadashiv Nagar', 'Basaveshwara Nagar',
       'Yeshwantpur', 'West Bangalore', 'Magadi Road', 'Yelahanka',
       'Sahakara Nagar', 'Peenya'], dtype=object)

In [8]:
type(pd.Series(df['cuisines'].str.split(',').explode().str.strip().unique()).tolist())

list

In [9]:
import requests

url = "http://127.0.0.1:5000/get_filters"
headers = {
    "accept": "application/json"
}

response = requests.get(url, headers=headers, verify=False)

# Print the response
print(response.status_code)
print(response)  # If the response is JSON

403
<Response [403]>

In [10]:
a = '1000'
print(float(a))

1000.0

In [11]:
df['rate'].unique()

array(['4.1/5', '3.8/5', '3.7/5', '3.6/5', '4.6/5', '4.0/5', '4.2/5',
       '3.9/5', '3.1/5', '3.0/5', '3.2/5', '3.3/5', '2.8/5', '4.4/5',
       '4.3/5', 'NEW', '2.9/5', '3.5/5', nan, '2.6/5', '3.8 /5', '3.4/5',
       '4.5/5', '2.5/5', '2.7/5', '4.7/5', '2.4/5', '2.2/5', '2.3/5',
       '3.4 /5', '-', '3.6 /5', '4.8/5', '3.9 /5', '4.2 /5', '4.0 /5',
       '4.1 /5', '3.7 /5', '3.1 /5', '2.9 /5', '3.3 /5', '2.8 /5',
       '3.5 /5', '2.7 /5', '2.5 /5', '3.2 /5', '2.6 /5', '4.5 /5',
       '4.3 /5', '4.4 /5', '4.9/5', '2.1/5', '2.0/5', '1.8/5', '4.6 /5',
       '4.9 /5', '3.0 /5', '4.8 /5', '2.3 /5', '4.7 /5', '2.4 /5',
       '2.1 /5', '2.2 /5', '2.0 /5', '1.8 /5'], dtype=object)

In [12]:
import pandas as pd
restaurant_data = pd.read_csv('restaurants.csv')
restaurant_data.fillna("",inplace=True)
def clean_rate(value):
    if value is None or pd.isna(value):  # Check for None or NaN
        return ""
    if isinstance(value, str):
        value = value.strip()  # Remove extra spaces
        if '/' in value:  # Check if it has the '/5' format
            return float(value.split('/')[0])
        elif value in ['NEW', '-']:  # Handle special cases
            return ""
    return ""
print(restaurant_data['rate'])
restaurant_data['rate'] = restaurant_data['rate'].apply(clean_rate)
restaurant_data['rate']

0         4.1/5
1         4.1/5
2         3.8/5
3         3.7/5
4         3.8/5
          ...
51712    3.6 /5
51713
51714
51715    4.3 /5
51716    3.4 /5
Name: rate, Length: 51717, dtype: object

0        4.1
1        4.1
2        3.8
3        3.7
4        3.8
        ...
51712    3.6
51713
51714
51715    4.3
51716    3.4
Name: rate, Length: 51717, dtype: object

In [13]:
import sqlite3

# Connect to the database file
connection = sqlite3.connect('instance/syncanddine.db')

# Create a cursor object
cursor = connection.cursor()

# Query to fetch all rows from the 'user' table
cursor.execute("SELECT swipes FROM user where id=2;")

# Fetch column names
column_names = [description[0] for description in cursor.description]

# Fetch all rows
rows = cursor.fetchall()

# Print column names
print("Column Names: ", column_names)
# Print rows
for row in rows:
    print(row)

# Close the cursor and connection
cursor.close()
connection.close()

Column Names:  ['swipes']
(b'\x80\x05\x95\x85\x00\x00\x00\x00\x00\x00\x00\x8c\x16sqlalchemy.ext.mutable\x94\x8c\x0bMutableDict\x94\x93\x94)\x81\x94(\x8c\x010\x94\x8c\x04like\x94\x8c\x011\x94\x8c\x04like\x94\x8c\x012\x94\x8c\x07dislike\x94\x8c\x013\x94\x8c\x04like\x94\x8c\x014\x94\x8c\x07dislike\x94u}\x94(h\x04h\x05h\x06h\x07h\x08h\th\nh\x0bh\x0ch\rub.',)

In [14]:
import pickle
data1 = pickle.loads(b'\x80\x05\x95\x94\x00\x00\x00\x00\x00\x00\x00\x8c\x16sqlalchemy.ext.mutable\x94\x8c\x0bMutableDict\x94\x93\x94)\x81\x94(\x8c\x010\x94\x8c\x04like\x94\x8c\x011\x94\x8c\x07dislike\x94\x8c\x012\x94\x8c\x04like\x94\x8c\x013\x94\x8c\x07dislike\x94\x8c\x014\x94\x8c\x04like\x94\x8c\x015\x94\x8c\x04like\x94u}\x94(h\x04h\x05h\x06h\x07h\x08h\th\nh\x0bh\x0ch\rh\x0eh\x0fub.',)

print(data1)

{'0': 'like', '1': 'dislike', '2': 'like', '3': 'dislike', '4': 'like', '5': 'like'}

In [15]:
import pickle
data2 = pickle.loads(b'\x80\x05\x95\x85\x00\x00\x00\x00\x00\x00\x00\x8c\x16sqlalchemy.ext.mutable\x94\x8c\x0bMutableDict\x94\x93\x94)\x81\x94(\x8c\x010\x94\x8c\x04like\x94\x8c\x011\x94\x8c\x04like\x94\x8c\x012\x94\x8c\x07dislike\x94\x8c\x013\x94\x8c\x04like\x94\x8c\x014\x94\x8c\x07dislike\x94u}\x94(h\x04h\x05h\x06h\x07h\x08h\th\nh\x0bh\x0ch\rub.',)


print(data2)

{'0': 'like', '1': 'like', '2': 'dislike', '3': 'like', '4': 'dislike'}

In [16]:
import sqlite3
connection = sqlite3.connect('instance/syncanddine.db')
cursor = connection.cursor()
cursor.execute("SELECT * FROM user")
column_names = [description[0] for description in cursor.description]
rows = cursor.fetchall()
print("Column Names: ", column_names)
for row in rows:
    print(row)
cursor.close()
connection.close()

Column Names:  ['id', 'username', 'password', 'email', 'friends', 'swipes', 'finished']
(1, 'admin', 'admin', 'preritsinha1997@gmail.com', b'\x80\x05]\x94.', b'\x80\x05\x950\x00\x00\x00\x00\x00\x00\x00\x8c\x16sqlalchemy.ext.mutable\x94\x8c\x0bMutableDict\x94\x93\x94)\x81\x94}\x94b.', 0)
(2, 'user', 'user', 'preritsinha@yahoo.in', b'\x80\x05]\x94.', b'\x80\x05\x95\x85\x00\x00\x00\x00\x00\x00\x00\x8c\x16sqlalchemy.ext.mutable\x94\x8c\x0bMutableDict\x94\x93\x94)\x81\x94(\x8c\x010\x94\x8c\x04like\x94\x8c\x011\x94\x8c\x04like\x94\x8c\x012\x94\x8c\x07dislike\x94\x8c\x013\x94\x8c\x04like\x94\x8c\x014\x94\x8c\x07dislike\x94u}\x94(h\x04h\x05h\x06h\x07h\x08h\th\nh\x0bh\x0ch\rub.', 1)

In [17]:
import pandas as pd

In [19]:
df = pd.read_csv("restaurants.csv")
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [20]:
list(df.columns)

['url',
 'address',
 'name',
 'online_order',
 'book_table',
 'rate',
 'votes',
 'phone',
 'location',
 'rest_type',
 'dish_liked',
 'cuisines',
 'approx_cost(for two people)',
 'reviews_list',
 'menu_item',
 'listed_in(type)',
 'listed_in(city)']

In [21]:
df['location'].value_counts()

location
BTM                      5124
HSR                      2523
Koramangala 5th Block    2504
JP Nagar                 2235
Whitefield               2144
                         ...
Yelahanka                   6
West Bangalore              6
Jakkur                      3
Rajarajeshwari Nagar        2
Peenya                      1
Name: count, Length: 93, dtype: int64

In [22]:
desired_size = 1000
def balance_categories(df, column, desired_size):
    balanced_df = pd.DataFrame()
    for category, group in df.groupby(column):
        if len(group) > desired_size:
            balanced_group = group.sample(desired_size, random_state=42)
        else:
            balanced_group = group
        balanced_df = pd.concat([balanced_df, balanced_group], axis=0)
    return balanced_df
df = balance_categories(df, 'location', desired_size)
print(df['location'].value_counts())

location
Whitefield              1000
BTM                     1000
Sarjapur Road           1000
Indiranagar             1000
Electronic City         1000
                        ...
West Bangalore             6
Yelahanka                  6
Jakkur                     3
Rajarajeshwari Nagar       2
Peenya                     1
Name: count, Length: 93, dtype: int64

In [23]:
df = df.drop(['reviews_list','menu_item','listed_in(type)','listed_in(city)','online_order'],axis=1)

In [24]:
df.to_csv("restaurants.csv")